
@{
    ViewBag.Title = "Keranjang";
}
<div class="box">
    <div class="box-body">
        <table id="table-selling" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nama Barang</th>
                    <th>Stok</th>
                    <th>Detail</th>
                    <th>Harga Satuan</th>
                    <th>Kuantitas</th>
                    <th>Total Harga</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="selling-details"></tbody>
        </table>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-lg-9">
                <button class="btn btn-success" id="btn-add-item" value="Tambah Barang ke Keranjang">Tambah Barang</button>
                <button class="btn btn-primary" id="btn-payment" value="Pembayaran">Pembayaran</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-form" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Modal title</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#btn-add-item").click(function () {
        $.ajax({
            url: '@Url.Action("ListSelect2", "Item2")',
            type: 'get',
            data: { filter: $('#txt-search').val() },
            success: function (result) {
                $(".modal-title").html("List of Items");
                $(".modal-body").html(result);
                $("#modal-form").modal("show");
            }
        });
    });
</script>