<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" style=" height: auto; overflow: hidden; width: auto; padding-bottom: 10%;">
            <li class="header"><strong>Wanita</strong></li>
        </ul>
    </section>
</aside>
